@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
:root {
  --background-gradient: radial-gradient(circle, hsl(0, 0%, 96.1%), hsla(209, 100%, 81%, 1.00));
}

body {
  @apply min-h-screen;
  background: var(--background-gradient);
}
